name: ci
on:
  pull_request:
  push:
    branches:
    - master
  schedule:
    - cron: '00 01 * * *'
jobs:
  test:
    name: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # The docs seem to suggest that we can have a matrix with just an
        # include directive, but it results in a "matrix must define at least
        # one vector" error in the CI system.
        build: [pinned, stable, beta, nightly, macos, win-msvc, win-gnu]
        include:
        - build: pinned
          os: ubuntu-latest
          rust: 1.60.0
        - build: stable
          os: ubuntu-latest
          rust: stable
        - build: beta
          os: ubuntu-latest
          rust: beta
        - build: nightly
          os: ubuntu-latest
          rust: nightly
        - build: macos
          os: macos-latest
          rust: stable
        - build: win-msvc
          os: windows-latest
          rust: stable
        - build: win-gnu
          os: windows-latest
          rust: stable-x86_64-gnu
    env:
      RUSTFLAGS: -D warnings
      RUST_BACKTRACE: 1
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: ${{ matrix.rust }}
    - run: cargo build --verbose
    - run: cargo doc --verbose
    # We run a few other builds, but only on one instance to avoid doing
    # more work than we need to.
    - if: matrix.build == 'stable'
      run: cargo build --verbose --features serde
    - if: matrix.build == 'stable'
      run: cargo build --verbose --no-default-features
    - if: matrix.build == 'stable'
      run: cargo build --verbose --no-default-features --features serde,alloc
    - if: matrix.build == 'stable'
      run: cargo build --verbose --no-default-features --features serde
    - if: matrix.build == 'stable'
      run: cargo build --verbose --no-default-features --features alloc
    # Our dev dependencies evolve more rapidly than we'd like, so only run
    # tests when we aren't pinning the Rust version.
    - if: matrix.build != 'pinned'
      run: cargo test --verbose
    # As with 'cargo build' above, run tests on a bunch of feature
    # combinations, but just on 'stable' to avoid doing more work that we have
    # to.
    - if: matrix.build == 'stable'
      run: cargo test --verbose --features serde
    - if: matrix.build == 'stable'
      run: cargo test --verbose --no-default-features
    - if: matrix.build == 'stable'
      run: cargo test --verbose --no-default-features --features serde,alloc
    - if: matrix.build == 'stable'
      run: cargo test --verbose --no-default-features --features serde
    - if: matrix.build == 'stable'
      run: cargo test --verbose --no-default-features --features alloc
    - name: Run benchmarks as tests
      if: matrix.build == 'stable'
      working-directory: ./bench
      run: cargo test --verbose --benches

  rustfmt:
    name: rustfmt
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Install Rust
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: stable
        components: rustfmt
    - name: Check formatting
      run: cargo fmt --check

  miri:
    name: miri
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
    - name: Install Rust
      uses: dtolnay/rust-toolchain@miri
    - run: cargo miri test --lib --verbose
      env:
        MIRIFLAGS: -Zmiri-strict-provenance
